<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center text-white" do %>
      <i class="fas fa-hotel me-2"></i>
      <span>HotelHunt</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to dashboard_path, class: "nav-link text-white" do %>
              <i class="fas fa-columns me-2"></i>Dashboard
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: "nav-link text-white" do %>
              <i class="fas fa-user-edit me-2"></i>Edit Profile
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link text-white" do %>
              <i class="fas fa-sign-out-alt me-2"></i>Log out
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-white" do %>
              <i class="fas fa-sign-in-alt me-2"></i>Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
