<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h1>Room Details</h1>
      <%= link_to "Back to Rooms", rooms_path, class: "btn btn-outline-secondary mb-4" %>

      <div class="card">
        <img src="https://source.unsplash.com/random/800x600/?hotel-room" class="card-img-top" alt="Room">
        <div class="card-body">
          <h5 class="card-title">Room for <%= pluralize(@room.capacity, 'person') %></h5>
          <p class="card-text">
            <strong><%= number_to_currency(@room.price_per_night) %></strong> / night
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Book this room</h5>
          <%= simple_form_for [@room, @booking] do |f| %>
            <%= f.input :starts_at, as: :string, input_html: { data: { controller: "flatpickr" } } %>
            <%= f.input :ends_at, as: :string, input_html: { data: { controller: "flatpickr" } } %>
            <%= f.submit "Book Now", class: "btn btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
